.card {
  margin: 50px 0;
  width: 600px;
  padding: 0px;
  border-radius: 20px 20px;
}

body {
  width: 600px;
  margin: 0 auto;
}

p {
  font-size: 13px;
  position: fixed;
  margin-top: 380px;
  margin-left: 10px;
  text-decoration: none;
}

h5 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 5px 0 -10px;
}

h6 {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin: 5px 0 -10px;
}

li {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
}

.colour-hum-wind {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
  color: #ff3366;
}

input {
  width: 200px;
  font-size: 12px;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 40px;
  margin: 30px 0 20px -10px;
}

span {
  padding: 10px 0 0 10px;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #ff3366;
}

.mainsun {
  width: 100px;
  padding: 10px 5px 0px;
}

.temperature {
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 0px;
  height: 50px;
  width: 50px;
  color: blue;
  line-height: 170px;
}

.units {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin: 5px 0 -10px;
  word-spacing: -5px;
  color: black;
  padding: 0px;
}

.col-sun {
  width: 100px;
}

.row-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.card-wind {
  padding: 0px;
  margin: 0px;
  width: 230px;
  height: 170px;
}

.col-align-self-end {
  font-style: italic;
  text-transform: capitalize;
}

.form-control {
  box-shadow: 2px 2px 2px;
  opacity: 0.4;
}

form {
  display: inline;
}

.col-1 {
  width: 400px;
}

.col-2 {
  padding: 0px;
}

.col-5 {
  padding: 0px;
}

.btn-primary,
.btn-success {
  width: 80px;
  height: 38px;
  padding: 0px 0px;
}

.btn-success {
  margin-left: 12px;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
  color: black;
}

.units a {
  text-decoration: none;
}
